# General
.DS_Store
*.log

# IDE
.idea/
.vscode/

# Flutter
frontend/.dart_tool/
frontend/build/

# Android
frontend/android/.gradle/
frontend/android/local.properties

# macOS
frontend/macos/Flutter/ephemeral/

# Web
frontend/web/flutter_service_worker.js

# Env
.env