# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
.venv/
venv/
env/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media files (User uploaded content)
media/

# OS / macOS Artifacts
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Project specific / Custom Scripts
codebase_dump.txt
cwsn_backend/google_creds.txt
src/server/requirements.txt